<!DOCTYPE html>

<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122840650-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-122840650-1');
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-3598320494828213",
            enable_page_level_ads: true
        });
    </script>

    <title>검둥이 잭</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <meta name="description" content="넥슨 검둥이 잭"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="넥슨 검둥이 잭">
    <meta property="og:description" content="넥슨 검둥이 잭">
    <meta property="og:image" content="http://jamlive.net/images/main_icon.png">
    <meta property="og:url" content="http://jamlive.net">

    <meta charset="utf-8">
    <title>Test App</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
</head>

<script src="/socket.io/socket.io.js"></script>
<body>
<div id="app"></div>
<script src="/main.js">
</script>
</body>
</html>